body {
  min-height: 100vh;
  background: #fff;
}

/* Quando o menu mobile abre, bloqueia scroll da página */
body.no-scroll {
  overflow: hidden;
}

/* Header / Navbar */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.header-title {
  transition: 0.3s ease;
}
.header-title:hover {
  transform: scale(1.08);
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  color: #1173d4;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
}

.logo img {
  width: 50px;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 35px;
}

.navbar a {
  color: #111;
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s;
}

/* Botão */
.btn-orcamento {
  background: #1173d4;
  padding: 8px 20px;
  border-radius: 20px;
  margin-left: 35px;
  font-weight: 500;
  transition: 0.3s ease;
}

.btn-orcamento:hover {
  background: #0783ff;
  transform: scale(1.1);
}

.btn-orcamento a {
  color: #fff;
}

.btn-4 {
  display: none;
}

/* Dropdown Desktop */
.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #e9e7e7;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  display: none;
  min-width: 220px;
  flex-direction: column;
  z-index: 200;
}

.dropdown-menu a {
  padding: 10px 15px;
}

.dropdown:hover .dropdown-menu {
  display: flex;
}

/* Icone mobile */
#menu-icon {
  font-size: 36px;
  color: #111;
  display: none;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 1100px) {
  /* Ícone do menu sempre colado à direita */
  #menu-icon {
    display: block;
    position: absolute;
    top: 50%;
    right: 10px; /* distância da borda direita */
    transform: translateY(-50%);
    font-size: 36px;
    color: #111;
    cursor: pointer;
    z-index: 150; /* acima do menu */
  }

  .btn-4 {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    /* animação de deslizar de cima */
    max-height: 0;
    overflow-y: auto;
    transition: max-height 0.35s ease;

    flex-direction: column;
    background-color: #e9e7e7;
    backdrop-filter: blur(14px);
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    z-index: 99;
  }

  /* Quando o menu abre */
  .navbar.active {
    max-height: 85vh; /* faz rolar apenas o menu */
  }

  .navbar a,
  .btn-orcamento {
    display: block;
    margin: 8px 0;
    padding: 10px 1.5rem;
  }

  /* Dropdown Mobile Sanfona */
  .dropdown-menu {
    position: relative;
    display: none;
    background: none;
    padding-left: 1rem;
  }

  .dropdown.active .dropdown-menu {
    display: flex;
    flex-direction: column;
    background: none;
  }

  .dropdown.active > a i {
    transform: rotate(180deg);
    transition: 0.3s;
  }
}
