---
import HeadBase from '../components/HeadBase.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Home from '../components/Home.astro';
import WhatsAppButton from '../components/WhatsAppButton.astro';

import '../styles/global.css';
import '../styles/header.css';
import '../styles/footer.css';
import '../styles/hero.css';
import '../styles/products.css';
import '../styles/about.css';
---

<html lang="pt-BR">
<HeadBase/>


  <body>
    <Header />
    <WhatsAppButton/>
    <Home />
    <Footer />

    <!-- JS -->
    <script type="module" src="/js/script.js"></script>
  </body>
</html>
