---
import HeadBase from '../components/HeadBase.astro';
import Header from '../components/Header.astro';
import Qualidade from '../components/Qualidade.astro';
import Footer from '../components/Footer.astro';
import WhatsAppButton from '../components/WhatsAppButton.astro';
import Produtos from '../components/Produtos.astro';

import '../styles/global.css';
import '../styles/header.css';
import '../styles/footer.css';
import '../styles/products.css';
import '../styles/store.css';

const pulseirasCategoria = [
  {
    id: "tyvek",
    cor: "#fdb924",
    nomeCategoria: "Pulseira Tyvek",
    descricao: "Pulseiras Tyvek resistentes, leves e descartáveis, ideais para controle de acesso em eventos, festas, shows e festivais.",
    beneficios: [
      "Resistentes ao rasgo (uso único)",
      "À prova d’água",
      "Excelente para eventos com grande circulação",
      "Totalmente personalizáveis"
    ],
    produtos: [
      { titulo: "Pulseira Tyvek Rosa", imagem: "/images/pulseiras/tyvek1.jpg", linkCTA: "https://whatsa.me/5511963352624/?t=Ol%C3%A1!%20Vim%20pelo%20site%20e%20gostaria%20de%20fazer%20um%20or%C3%A7amento%20%F0%9F%98%8A" },
      { titulo: "Pulseira Tyvek Azul", imagem: "/images/pulseiras/tyvek2.jpg", linkCTA: "https://whatsa.me/5511963352624/?t=Ol%C3%A1!%20Vim%20pelo%20site%20e%20gostaria%20de%20fazer%20um%20or%C3%A7amento%20%F0%9F%98%8A" },
      { titulo: "Pulseiras Tyvek Coloridas", imagem: "/images/pulseiras/tyvek3.jpg", linkCTA: "https://whatsa.me/5511963352624/?t=Ol%C3%A1!%20Vim%20pelo%20site%20e%20gostaria%20de%20fazer%20um%20or%C3%A7amento%20%F0%9F%98%8A" },
      { titulo: "Pulseiras Tyvek Premium Estampadas", imagem: "/images/pulseiras/tyvek4.jpg", linkCTA: "https://whatsa.me/5511963352624/?t=Ol%C3%A1!%20Vim%20pelo%20site%20e%20gostaria%20de%20fazer%20um%20or%C3%A7amento%20%F0%9F%98%8A" }
    ]
  },
  {
    id: "tecido-tag",
    cor: "#fdb924",
    nomeCategoria: "Pulseira de Tecido com Tag",
    descricao: "Pulseiras de tecido com tag de travamento, resistentes e confortáveis, ideais para eventos com vários dias de duração.",
    beneficios: [
      "Durabilidade muito alta",
      "Confortável para uso prolongado",
      "Difícil de remover sem romper (melhor segurança)",
      "Perfeitas para festivais, shows e convenções"
    ],
    produtos: [
      { titulo: "Pulseira de Tecido Roxa com Tag", imagem: "/images/pulseiras/tag1.png", linkCTA: "https://whatsa.me/5511963352624/?t=Ol%C3%A1!%20Vim%20pelo%20site%20e%20gostaria%20de%20fazer%20um%20or%C3%A7amento%20%F0%9F%98%8A" },
      { titulo: "Pulseira de Tecido Rosa com Tag", imagem: "/images/pulseiras/tag3.jpg", linkCTA: "https://whatsa.me/5511963352624/?t=Ol%C3%A1!%20Vim%20pelo%20site%20e%20gostaria%20de%20fazer%20um%20or%C3%A7amento%20%F0%9F%98%8A" },
      { titulo: "Pulseiras de Tecido Coloridas com Tag", imagem: "/images/pulseiras/tag2.jpg", linkCTA: "https://whatsa.me/5511963352624/?t=Ol%C3%A1!%20Vim%20pelo%20site%20e%20gostaria%20de%20fazer%20um%20or%C3%A7amento%20%F0%9F%98%8A" },
      { titulo: "Pulseira de Tecido Branca com Tag", imagem: "/images/pulseiras/tag4.jpg", linkCTA: "https://whatsa.me/5511963352624/?t=Ol%C3%A1!%20Vim%20pelo%20site%20e%20gostaria%20de%20fazer%20um%20or%C3%A7amento%20%F0%9F%98%8A" }
    ]
  },
  {
    id: "tecido-sem-tag",
    cor: "#fdb924",
    nomeCategoria: "Pulseira de Tecido sem Tag",
    descricao: "Pulseiras de tecido confortáveis, reutilizáveis e versáteis, ideais para identificação em eventos sociais e corporativos.",
    beneficios: [
      "Reutilizáveis e confortáveis",
      "Grande variedade de cores e estampas",
      "Visual mais casual e leve",
      "Podem ser amarradas ou ajustáveis"
    ],
    produtos: [
      { titulo: "Pulseiras de Tecido Coloridas", imagem: "/images/pulseiras/notag1.jpg", linkCTA: "https://whatsa.me/5511963352624/?t=Ol%C3%A1!%20Vim%20pelo%20site%20e%20gostaria%20de%20fazer%20um%20or%C3%A7amento%20%F0%9F%98%8A" },
      { titulo: "Pulseira Amarela e Preta", imagem: "/images/pulseiras/notag5.jpeg", linkCTA: "https://whatsa.me/5511963352624/?t=Ol%C3%A1!%20Vim%20pelo%20site%20e%20gostaria%20de%20fazer%20um%20or%C3%A7amento%20%F0%9F%98%8A" },
      { titulo: "Pulseiras Variadas Estampadas", imagem: "/images/pulseiras/notag2.jpg", linkCTA: "https://whatsa.me/5511963352624/?t=Ol%C3%A1!%20Vim%20pelo%20site%20e%20gostaria%20de%20fazer%20um%20or%C3%A7amento%20%F0%9F%98%8A" },
      { titulo: "Pulseira de Tecido Azul e Rosa", imagem: "/images/pulseiras/notag4.jpg", linkCTA: "https://whatsa.me/5511963352624/?t=Ol%C3%A1!%20Vim%20pelo%20site%20e%20gostaria%20de%20fazer%20um%20or%C3%A7amento%20%F0%9F%98%8A" }
    ]
  }
];


---

<html lang="pt-BR">
  <HeadBase />
  <body>
    <WhatsAppButton/>
    <Header />
    <main>
      <Produtos 
        tituloSecao="Pulseiras Personalizadas" 
        subtitulo="Pulseiras práticas, duráveis e personalizáveis, ideais para identificação e controle de acesso em eventos de todos os tipos."
        categorias={pulseirasCategoria} 
      />
    </main>
    <Qualidade />

    <Footer />
  </body>
</html>
