<footer class="footer-1 container">
  <div class="container-footer-1">
    <h2>
      Pronto para Criar Suas <span class="blue">Credenciais Perfeitas?</span>
    </h2>
    <p class="text-1">
      Entre em contato conosco hoje e vamos discutir como podemos tornar seu
      próximo evento inesquecível
    </p>

    <!-- Botões -->
    <div class="container-btn">
      <a
        href="https://whatsa.me/5511963352624/?t=Ol%C3%A1,%20Gostaria%20de%20fazer%20um%20Or%C3%A7amento!"
        target="_blank"
        rel="noopener noreferrer"
        class="btn-2"
      >
        Pedir Orçamento no Whatsapp
      </a>
      <a href="../index.html" class="btn-3">Ver Catálogo</a>
    </div>

    <!-- Contatos -->
    <div class="container-contacts">
      <div class="card-contacts">

        <a href="tel:+5511963352624"><img src="../images/phone.svg" alt="" />
        <p style="color: #181919;">Telefone</p>+55 (11) 96335-2624</a>
      </div>

      <div class="card-contacts">

        <a href="mailto:vendas@crachaid.com.br" target="_blank" rel="noopener noreferrer"><img src="../images/mail.svg" alt="" />
        <p style="color: #181919;">Email</p>vendas@crachaid.com.br</a>
      </div>

      <div class="card-contacts">

        <a href="https://www.instagram.com/cracha.idpersonalizados" target="_blank" rel="noopener noreferrer"><img src="../images/instagram.svg" alt="" />
        <p style="color: #181919;">Instagram</p>/Cracha.id</a>
      </div>
      <div class="card-contacts">
        
        <a href="https://whatsa.me/5511963352624/?t=Ol%C3%A1,%20Gostaria%20de%20fazer%20um%20Or%C3%A7amento!" target="_blank" rel="noopener noreferrer"><img src="../images/message.svg" alt="" />
        <p style="color: #181919;">Whatsapp</p>24/7</a>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <section style="border-top: 1px solid rgba(0, 0, 0, 0.2)">
    <p
      style="
        color: #757c89;
        font-size: 0.725rem;
        padding: 20px 0;
        text-align: center;
      "
    >
      © 2026 Cracha.id. Todos os direitos reservados.
    </p>
  </section>
</footer>
