---
import '../styles/header.css';
---



<header class="header">
  <!-- Logo -->
  <div class="header-title">
    <a href="/" class="logo">
      <img src="/images/logo.png" alt="Logo Crachá.id" />
      Cracha.id
    </a>
  </div>

  <!-- Ícone Menu Mobile -->
  <div class="menu-icon">
    <i class="bx bx-menu" id="menu-icon"></i>
  </div>

  <!-- Navegação -->
  <nav class="navbar">

    <!-- Crachás -->
    <div class="dropdown">
      <a href="/cracha#cracha">Crachás <i class="bx bx-chevron-down"></i></a>
      <div class="dropdown-menu">
        <a href="/cracha#identificacao">Identificação Corporativa</a>
        <a href="/cracha#virgem">Crachá em Branco</a>
        <a href="/cracha#tecnologia">Crachá com Chip / RFID</a>
        <a href="/cracha#comanda">Comanda em PVC</a>
      </div>
    </div>

    <!-- Credenciais -->
    <div class="dropdown">
      <a href="/credencial">Credenciais <i class="bx bx-chevron-down"></i></a>
      <div class="dropdown-menu">
        <a href="/credencial/#pvc">PVC para Shows e Eventos</a>
        <a href="/credencial#transparente">Transparente</a>
        <a href="/credencial#holografica">Holográfica</a>
        <a href="/credencial#pvc-corporativo">PVC Corporativo</a>
        <a href="/credencial#papel-220g">Papel 220g</a>
        <a href="/credencial#couche">Couchê</a>
        <a href="/credencial#semissintetico">Semissintético</a>
      </div>
    </div>

    <!-- Pulseiras -->
    <div class="dropdown">
      <a href="/pulseiras">Pulseiras <i class="bx bx-chevron-down"></i></a>
      <div class="dropdown-menu">
        <a href="/pulseiras#com-tag">Tyvek Personalizada</a>
        <a href="/pulseiras#com-tag">Tecido com Tag</a>
        <a href="/pulseiras#sem-tag">Tecido Sem Tag</a>
      </div>
    </div>

    <!-- Cordões -->
    <div class="dropdown">
      <a href="/cordoes">Cordões <i class="bx bx-chevron-down"></i></a>
      <div class="dropdown-menu">
        <a href="/cordoes#para-cracha">Para Crachá</a>
        <a href="/cordoes#para-chaveiro">Para Chaveiros</a>
        <a href="/cordoes#liso">Cordão Liso</a>
      </div>
    </div>

    <!-- Brindes -->
    <div class="dropdown">
      <a href="/brindes">Brindes <i class="bx bx-chevron-down"></i></a>
      <div class="dropdown-menu">
        <a href="/brindes#canecas">Canecas</a>
        <a href="/brindes#mousepad">Mouse Pad</a>
        <a href="/brindes#canetas">Canetas Personalizadas</a>
        <a href="/brindes#copos">Copos Personalizados</a>
      </div>
    </div>

    <!-- CTA -->
    <a
      href="https://whatsa.me/5511963352624/?t=Ol%C3%A1!%20Vim%20pelo%20site%20e%20gostaria%20de%20fazer%20um%20or%C3%A7amento%20%F0%9F%98%8A"
      target="_blank"
      class="btn-1"
      style="color: #fff;
      padding: 8px 16px;"
    >
      Fazer Orçamento
    </a>
  <div class="container-btn-4">
      <a href="#catalogo" class="btn-4">Ver Catálogo</a>

  </div>

  </nav>

  <!-- Fundo do Menu Mobile -->
  <div class="nav-bg"></div>

  <!-- Script -->
  <script type="module" src="/js/script.js"></script>
</header>
