---
// src/components/Home.astro
---
<section class="hero">
  <img src="/images/dot2.png" alt="" />
  <div class="container-hero mg-bottom container">
<h1>Crachá Personalizado e Credenciais <br> <span class="blue">para Eventos</span></h1>

    <p class="text-1">
      Crachás personalizados, cordões, pulseiras e credenciais profissionais para
      conferências, eventos e empresas.
    </p>
    <div class="container-btn">
      <a
        href="https://whatsa.me/5511963352624/?t=Ol%C3%A1,%20Gostaria%20de%20fazer%20um%20Or%C3%A7amento!"
        target="_blank"
        rel="noopener noreferrer"
        class="btn-2"
      >
        Pedir Orçamento no Whatsapp
      </a>
      <a href="#catalogo" class="btn-3">Ver Catálogo</a>
    </div>
  </div>

  <div class="container-hero container">
    <p class="text-2">Nosso Catálogo<span class="dot">.</span></p>
    <p class="text-1" id="catalogo">
      Descubra nossa linha completa de credenciais e produtos personalizados
      para eventos
    </p>
  </div>
</section>

<section class="products container">
  <div class="card-grid">
    <div class="card" >
      <span class="tag" style="background-color: #f97415">Credencial</span>
      <img src="/images/credencial-pvc/credencial1.jpg" alt="Credencial personalizada em PVC para eventos corporativos." />
      <h2>Credencial Premium</h2>
      <p>PVC resistente para eventos e conferências.</p>
      <a href="https://whatsa.me/5511963352624/?t=Ol%C3%A1,%20Gostaria%20de%20fazer%20um%20Or%C3%A7amento!" class="btn-card">Fazer Orçamento</a>
    </div>

    <div class="card">
      <span class="tag" style="background-color: #212529">Crachás</span>
      <img src="/images/rfid/rfid3.png" alt="Crachá com sensor RFID de Aproximação." />
      <h2>Crachá Rfid</h2>
      <p>Crachá inteligente com tecnologia de aproximação.</p>
      <a href="https://whatsa.me/5511963352624/?t=Ol%C3%A1,%20Gostaria%20de%20fazer%20um%20Or%C3%A7amento!" class="btn-card">Fazer Orçamento</a>
    </div>

    <div class="card">
      <span class="tag" style="background-color: #ff004c">Cordões</span>
      <img src="/images/cordoes/cordaoliso3.jpg" alt="Cordão para Crachá." />
      <h2>Cordões para Crachás</h2>
      <p>Cordões personalizados e resistentes.</p>
      <a href="https://whatsa.me/5511963352624/?t=Ol%C3%A1,%20Gostaria%20de%20fazer%20um%20Or%C3%A7amento!" class="btn-card">Fazer Orçamento</a>
    </div>

    <div class="card">
      <span class="tag" style="background-color: #fdb924">Pulseiras</span>
      <img src="/images/pulseiras/tag2.jpg" alt="Pulseira de Festival Personalizada com Tag." />
      <h2>Pulseira com Tag</h2>
      <p>Pulseira de tecido para controle de acesso.</p>
      <a href="https://whatsa.me/5511963352624/?t=Ol%C3%A1,%20Gostaria%20de%20fazer%20um%20Or%C3%A7amento!" class="btn-card">Fazer Orçamento</a>
    </div>

    <div class="card">
      <span class="tag" style="background-color: #ff48d0">Comanda</span>
      <img src="/images/comanda/comanda3.jpg" alt="Comanda de Padaria Personalizada." />
      <h2>Comanda</h2>
      <p>Comandas PVC reutilizáveis para bares e padarias.</p>
      <a href="https://whatsa.me/5511963352624/?t=Ol%C3%A1,%20Gostaria%20de%20fazer%20um%20Or%C3%A7amento!" class="btn-card">Fazer Orçamento</a>
    </div>

    <div class="card">
      <span class="tag" style="background-color: #1173d4">Copos</span>
      <img src="/images/brindes/copo3.jpeg" alt="Copo de Festa Personalizado." />
      <h2>Copos Personalizados</h2>
      <p>Copos com sua marca para brindes e eventos.</p>
      <a href="https://whatsa.me/5511963352624/?t=Ol%C3%A1,%20Gostaria%20de%20fazer%20um%20Or%C3%A7amento!" class="btn-card">Fazer Orçamento</a>
    </div>

    <div class="card">
      <span class="tag" style="background-color: #212529">Crachás</span>
      <img src="/images/corporativo/corporativo4.jpg" alt="Crachá Corporativo Personalizado." />
      <h2>Crachá Corporativo</h2>
      <p>Identificação profissional para empresas.</p>
      <a href="https://whatsa.me/5511963352624/?t=Ol%C3%A1,%20Gostaria%20de%20fazer%20um%20Or%C3%A7amento!" class="btn-card">Fazer Orçamento</a>
    </div>

    <div class="card">
      <span class="tag" style="background-color: #94d82d">Mouse Pad</span>
      <img src="/images/brindes/mousepad1.jpeg" alt="Mouse Pad Personalizado." />
      <h2>Mouse Pad</h2>
      <p>Mouse pad personalizado para escritório ou brindes.</p>
      <a href="https://whatsa.me/5511963352624/?t=Ol%C3%A1,%20Gostaria%20de%20fazer%20um%20Or%C3%A7amento!" class="btn-card">Fazer Orçamento</a>
    </div>

    <div class="card">
      <span class="tag" style="background-color: #fdb924">Pulseiras</span>
      <img src="/images/pulseiras/tyvek1.jpg" alt="Pulseira Tyvek Resistente e Descartável." />
      <h2>Pulseira Tyvek</h2>
      <p>Pulseiras resistentes, leves e descartáveis.</p>
      <a href="https://whatsa.me/5511963352624/?t=Ol%C3%A1,%20Gostaria%20de%20fazer%20um%20Or%C3%A7amento!" class="btn-card">Fazer Orçamento</a>
    </div>

    <div class="card">
      <span class="tag" style="background-color: #f97415">Credencial</span>
      <img src="/images/credencial-especial/holografica-4.jpg" alt="Credencial Premium Holografica." />
      <h2>Credencial Holográfica</h2>
      <p>Holográfica premium para eventos exclusivos.</p>
      <a href="https://whatsa.me/5511963352624/?t=Ol%C3%A1,%20Gostaria%20de%20fazer%20um%20Or%C3%A7amento!" class="btn-card">Fazer Orçamento</a>
    </div>

    <div class="card">
      <span class="tag" style="background-color: #ff004c">Cordões</span>
      <img src="/images/cordoes/chaveiro4.jpg" alt="Cordão para Chaveiro Resistente." />
      <h2>Cordões para Chaveiros</h2>
      <p>Cordões resistentes para chaveiros do dia a dia.</p>
      <a href="https://whatsa.me/5511963352624/?t=Ol%C3%A1,%20Gostaria%20de%20fazer%20um%20Or%C3%A7amento!" class="btn-card">Fazer Orçamento</a>
    </div>
  </div>

   <div class="slider-dots"></div>
</section>
<section class="qualidade-section">
  <div class="qualidade-container">
    <div class="qualidade-container-2">
<h2 class="qualidade-title">
      <span>Qualidade</span>
      <img src="/images/medal.png" alt="Medalha de qualidade" class="icon" />
      <img src="/images/clock2.png" alt="Relógio de prazo" class="icon" />
      <span>Prazo</span>
    </h2>
    </div>
    
    <p class="qualidade-desc">
      Nossos produtos e serviços proporcionam ao cliente excelência na
      identificação pessoal.
    </p>
  </div>
</section>
<section class="about bg-color">
  <div class="container-about">
    <div class="container-flex">
      <div class="container-text">
        <div class="card-container-text">
              <h2 class="text-h2">
          Por Que Escolher a <span style="color: #1173d4">Cracha.id</span>
        </h2>
        <p class="text-p">
          Somos especializados na criação de credenciais e crachás
          personalizados que fazem seus eventos se destacarem. Com foco na
          excelência, entregamos produtos que superam expectativas.
        </p>
        <p class="text-p">
          De conferências corporativas a festivais de música, ajudamos a criar
          experiências memoráveis através de soluções profissionais de
          credenciamento.
        </p>
        </div>
    
      </div>

   <div class="container-baloons">

  <div class="services-baloon">
    <img src="/images/award.svg" alt="Selo de qualidade" />
    <h4>Alta Qualidade</h4>
    <p>Materiais duráveis, impressão nítida e acabamento profissional para garantir o melhor resultado.</p>
  </div>

  <div class="services-baloon">
    <img src="/images/users.svg" alt="Atendimento personalizado" />
    <h4>Atendimento Personalizado</h4>
    <p>Suporte humano, rápido e direto via WhatsApp para entender exatamente o que sua marca precisa.</p>
  </div>

  <div class="services-baloon">
    <img src="/images/clock.svg" alt="Entrega no prazo" />
    <h4>Entrega Rápida</h4>
    <p>Produção ágil e prazos curtos para que seu evento aconteça sem preocupações.</p>
  </div>

  <div class="services-baloon">
    <img src="/images/palette.svg" alt="Design exclusivo" />
    <h4>Design Exclusivo</h4>
    <p>Layouts criados sob medida para destacar sua marca e fortalecer sua identidade visual.</p>
  </div>

</div>

    </div>
  </div>
</section>
