---
import ProdutoCard from '../components/ProdutoCard.astro';
import '../styles/store.css';
---

<section class="produtos-page" >
  <section id="identificacao" class="produtos-section">
    <div class="container">

      <div class="mini-navbar">
        <a href="/">Home ></a>
        <a href="/cracha">Crachá</a>
      </div>

      <h2 class="text-tittle-store" id="cracha">
        Crachás  Personalizados<span class="dot">.</span>
      </h2>

      <p class="section-subtitle">
        Crachás modernos, resistentes e personalizáveis para empresas e eventos.
      </p>

      <!-- Grade 1 -->
      <div class="card-grid-wrapper">
        <span class="section-tag" id="identificacao">Crachá para Identificação</span>

        <div class="card-grid">
          <ProdutoCard
            titulo="Crachá Azul"
            descricao="Durável e resistente, ideal para eventos corporativos e conferências."
            imagem="/images/identificacao/iden7.png"
            linkCTA="https://whatsa.me/5511963352624"
          />
          <ProdutoCard
            titulo="Crachá Vermelho"
            descricao="Versátil e elegante para seus eventos."
            imagem="/images/identificacao/iden6.jpg"
            linkCTA="https://whatsa.me/5511963352624"
          />
          <ProdutoCard
            titulo="Crachá Verde"
            descricao="Resistente e personalizável."
            imagem="/images/identificacao/iden5.jpg"
            linkCTA="https://whatsa.me/5511963352624"
          />
          <ProdutoCard
            titulo="Crachá Laranja"
            descricao="Ideal para conferências e feiras."
            imagem="/images/identificacao/iden4.jpg"
            linkCTA="https://whatsa.me/5511963352624"
          />
        </div>
        <div class="grid-desc">
  <div class="desc-left">
    <p>
      Use esses crachás para eventos corporativos, feiras, workshops e conferências.
      São ideais para destacar identidade visual e profissionalismo da sua marca.
    </p>
  </div>

  <div class="desc-right">
    <ul>
      <li>
        <img src="/images/check-green.svg" alt="check" />
        Eventos corporativos e conferências
      </li>
      <li>
        <img src="/images/check-green.svg" alt="check" />
        Feiras e workshops profissionais
      </li>
      <li>
        <img src="/images/check-green.svg" alt="check" />
        Festivais e eventos sociais
      </li>
      <li>
        <img src="/images/check-green.svg" alt="check" />
        Identificação em empresas e escolas
      </li>
    </ul>
  </div>
</div>

      
      </div>

      <!-- Grade 2 -->
      <div class="card-grid-wrapper">
        <span class="section-tag" id="virgem">Crachá em Branco</span>

        <div class="card-grid">
          <ProdutoCard
            titulo="Uma Pilha de Crachás em branco."
            descricao="Durável e resistente, ideal para ambientes corporativos."
            imagem="/images/cracha-branco/branco.jpeg"
            linkCTA="https://whatsa.me/5511963352624"
          />
          <ProdutoCard
            titulo="Crachá Vermelho"
            descricao="Estilo e praticidade em um único design."
            imagem="/images/cracha-branco/pvc3.jpg"
            linkCTA="https://whatsa.me/5511963352624"
          />
          <ProdutoCard
            titulo="Crachá Verde"
            descricao="Personalizável com nome, cargo e logo da empresa."
            imagem="/images/cracha-branco/pvc2.jpg"
            linkCTA="https://whatsa.me/5511963352624"
          />
          <ProdutoCard
            titulo="Crachá Laranja"
            descricao="Visual moderno e acabamento fosco."
            imagem="/images/cracha-branco/pvc.jpg"
            linkCTA="https://whatsa.me/5511963352624"
          />
        </div>

     <div class="grid-desc">
  <div class="desc-left">
    <p>
      Use esses crachás para eventos corporativos, feiras, workshops e conferências.
      São ideais para destacar identidade visual e profissionalismo da sua marca.
    </p>
  </div>

  <div class="desc-right">
    <ul>
      <li>
        <img src="/images/check-green.svg" alt="check" />
        Eventos corporativos e conferências
      </li>
      <li>
        <img src="/images/check-green.svg" alt="check" />
        Feiras e workshops profissionais
      </li>
      <li>
        <img src="/images/check-green.svg" alt="check" />
        Festivais e eventos sociais
      </li>
      <li>
        <img src="/images/check-green.svg" alt="check" />
        Identificação em empresas e escolas
      </li>
    </ul>
  </div>
</div>      </div>

      <!-- Grade 3 -->
      <div class="card-grid-wrapper">
        <span class="section-tag" id="tecnologia">Crachá com Tecnologia Rfid</span>

        <div class="card-grid">
          <ProdutoCard
            titulo="Crachá Premium"
            descricao="Durável, com visual sofisticado para empresas de alto padrão."
            imagem="/images/rfid/rfid2.jpg"
            linkCTA="https://whatsa.me/5511963352624"
          />
          <ProdutoCard
            titulo="Crachá Executivo"
            descricao="Ideal para equipes administrativas e corporativas."
            imagem="/images/rfid/rfid1.jpg"
            linkCTA="https://whatsa.me/5511963352624"
          />
          <ProdutoCard
            titulo="Crachá Transparente"
            descricao="Design clean e moderno, ideal para conferências."
            imagem="/images/rfid/rfid3.png"
            linkCTA="https://whatsa.me/5511963352624"
          />
          <ProdutoCard
            titulo="Crachá Laranja Premium"
            descricao="Equilíbrio entre durabilidade e elegância."
            imagem="/images/rfid/rfid4.png"
            linkCTA="https://whatsa.me/5511963352624"
          />
        </div>

          <div class="grid-desc">
  <div class="desc-left">
    <p>
      Use esses crachás para eventos corporativos, feiras, workshops e conferências.
      São ideais para destacar identidade visual e profissionalismo da sua marca.
    </p>
  </div>

  <div class="desc-right">
    <ul>
      <li>
        <img src="/images/check-green.svg" alt="check" />
        Eventos corporativos e conferências
      </li>
      <li>
        <img src="/images/check-green.svg" alt="check" />
        Feiras e workshops profissionais
      </li>
      <li>
        <img src="/images/check-green.svg" alt="check" />
        Festivais e eventos sociais
      </li>
      <li>
        <img src="/images/check-green.svg" alt="check" />
        Identificação em empresas e escolas
      </li>
    </ul>
  </div>
</div>
      </div>

       <!-- Grade 4 -->
      <div class="card-grid-wrapper">
        <span class="section-tag" id="comanda">Comandas em PVC</span>

        <div class="card-grid">
          <ProdutoCard
            titulo="Crachá Premium"
            descricao="Durável, com visual sofisticado para empresas de alto padrão."
            imagem="/images/comanda/comanda1.jpg"
            linkCTA="https://whatsa.me/5511963352624"
          />
          <ProdutoCard
            titulo="Crachá Executivo"
            descricao="Ideal para equipes administrativas e corporativas."
            imagem="/images/comanda/comanda2.jpg"
            linkCTA="https://whatsa.me/5511963352624"
          />
          <ProdutoCard
            titulo="Crachá Transparente"
            descricao="Design clean e moderno, ideal para conferências."
            imagem="/images/comanda/comanda3.jpg"
            linkCTA="https://whatsa.me/5511963352624"
          />
          <ProdutoCard
            titulo="Crachá Laranja Premium"
            descricao="Equilíbrio entre durabilidade e elegância."
            imagem="/images/comanda/comanda4.jpg"
            linkCTA="https://whatsa.me/5511963352624"
          />
        </div>

         <div class="grid-desc">
  <div class="desc-left">
    <p>
      Use esses crachás para eventos corporativos, feiras, workshops e conferências.
      São ideais para destacar identidade visual e profissionalismo da sua marca.
    </p>
  </div>

  <div class="desc-right">
    <ul>
      <li>
        <img src="/images/check-green.svg" alt="check" />
        Eventos corporativos e conferências
      </li>
      <li>
        <img src="/images/check-green.svg" alt="check" />
        Feiras e workshops profissionais
      </li>
      <li>
        <img src="/images/check-green.svg" alt="check" />
        Festivais e eventos sociais
      </li>
      <li>
        <img src="/images/check-green.svg" alt="check" />
        Identificação em empresas e escolas
      </li>
    </ul>
  </div>
</div>
      </div>

    </div>
  </section>
</section>
<section class="qualidade-section">
  <div class="qualidade-container">
    <div class="qualidade-container-2">
<h2 class="qualidade-title">
      <span>Qualidade</span>
      <img src="/images/medal.png" alt="Medalha de qualidade" class="icon" />
      <img src="/images/clock2.png" alt="Relógio de prazo" class="icon" />
      <span>Prazo</span>
    </h2>
    </div>
    
    <p class="qualidade-desc">
      Nossos produtos e serviços proporcionam ao cliente excelência na
      identificação pessoal.
    </p>
  </div>
</section>


