---
// Qualidade.astro
---
<section class="qualidade-section">
  <div class="qualidade-container">
    <div class="qualidade-container-2">
      <h2 class="qualidade-title">
        <span>Qualidade</span>
        <img src="/images/medal.png" alt="Medalha de qualidade" class="icon" />
        <img src="/images/clock2.png" alt="Relógio de prazo" class="icon" />
        <span>Prazo</span>
      </h2>
    </div>
    
    <p class="qualidade-desc">
      Nossos produtos e serviços proporcionam ao cliente excelência na
      identificação pessoal.
    </p>
  </div>
</section>
