<!-- whatsapp-button.html -->
<a
  href="https://whatsa.me/5511963352624/?t=Ol%C3%A1!%20Vim%20pelo%20site%20e%20gostaria%20de%20fazer%20um%20or%C3%A7amento%20%F0%9F%98%8A"
  target="_blank"
  id="whatsapp-button"
  aria-label="WhatsApp"
  target="_blank" rel="noopener noreferrer"
>
  <img src="/images/whatsapp.png" alt="WhatsApp" />
</a>
